@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {

  /* .button-get-started {
    @apply bg-black rounded-xl text-white font-medium sm:text-3xl text-2xl px-4 py-4 sm:mt-20 mt-20 hover:bg-black/80 whitespace-nowrap
  } */

  .form-input-label {
    @apply block text-gray-700 mb-2 sm:text-base text-sm font-medium
  }

  .form-input-field {
    @apply sm:text-base text-sm font-light border border-gray-300 rounded-md px-2 py-2 w-full
  }

  .form-label {
    @apply sm:text-2xl text-sm font-bold mb-4 uppercase
  }

}